body {
  padding-top: 70px;
  padding-bottom: 20px;
  min-width: 320px;
}

@media screen and (max-width: 375px) {
  /*  home :: lists  */
  .container-fluid {
    padding: 0;
  }

  .panel-body {
    padding: 5px;
  }

  .list-item.name {
    padding: 0 5px;
  }

  .list-item.action {
    padding-right: 5px;
  }
}

@media screen and (max-width: 767px) {
}

h1.page-title {
  margin-top: 0;
}

.form-group .control-label {
  text-align: left !important;
}

ul.no-bullet {
  list-style-type: none;
}

th.actions {
  width: 70px;
}

td.actions {
  text-align: right;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

/*  home :: lists  */
.checklist .list-item.action {
  padding-left: 0;
}

.checklist .dropdown-menu {
  min-width: 0;
}

.checklist .dropdown-menu .divider {
  margin: 0;
}

.checklist .dropdown-menu > li > a {
  padding: 3px 10px;
}

.checklist .btn-add {
  margin: -10px 0;
  padding: 10px 0;
}

.dashboard .shares .value {
  font-size: 7pt;
  position: relative;
  right: 1px;
  top: 6px;
}